<br>
        <h2>Stefan Lovecchio</h2>
        <div id="about">
        <br><img src="/Assets/images/profilePic.jpg" alt="Stefan's Picture" height="600">
        <br><br>
        <p id ="description">
          I'm a Software Engineering Technology student at Centennial College, looking to start my career in
          web development.
          <br> I have a passion for reading and learning, and love the creative aspects of development. 
          <br>I hope to gain the knowledge to bring my ideas to life as I continue down this path.  
        </p>
        <div id="resume">
          <br><br>
          <p>My resume can be downloaded here:</p>
          <br>
          <a href="/Assets/stefanLovecchioResume.pdf" download>
            <button class="btn"><i class="fa fa-download"></i> DOWNLOAD</button>
          </a>
          <br>
          <p>
            <a href="https://www.artstation.com/stefanlovecchio"> My artstation profile can be found here</a>
          </p>
        </div>
        </div>