  <!-- Bottom nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark py-0 " style="height: 50px; ">
      <div class="container-fluid">
        <h6 class="display-6 navbar-text">&copy; Copyright 2023. All rights reserved.</h6>
      </div>
    </nav>
  </footer>