<!-- Main Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">COMP229</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
  
          <% if (title == "Home") { %>
          <li class="nav-item active">
          <% } else { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home </a>
          </li>
  
          <% if (title == "About") { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-sharp fa-solid fa-circle-info"></i> About </a>
          </li>
  
          <% if (title == "Products") { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" aria-current="page" href="/products"><i class="fa-brands fa-elementor"></i> Products </a>
          </li>
  
          <% if (title == "Services") { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" aria-current="page" href="/services"><i class="fa-solid fa-gear"></i> Services </a>
          </li>
  
          <% if (title == "Contact") { %>
            <li class="nav-item active">
            <% } else { %>
            <li class="nav-item">
            <% } %>
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-mobile"></i> Contact </a>
          </li>
      </div>
    </div>
  </nav>