<div id="projects">

    <img src="/Assets/images/squash.gif" height="900">
    <p id="projectSquash">
        <br>In my second semester Javascript course, I built a browser-based clicker game called 'Fancy a Squash?'.
        <br> The user clicks on the flying bugs to squish them and earn points.
        <br>Bug flying speed increases proportionally to score, but the user can reset their speed and/or score.
    </p>

    <br><br><img src="/Assets/images/gallery.gif" height="800"><br><br>
    <p id="projectGallery"><br>
        I also made a photo gallery displaying selected images from Midjourney using Javascript and HTML.
        <br> The slideshow automatically iterates through the collection of images,
        <br>but the user navigate back and forth or return the first image using buttons. 
    </p><br><br>

    <img src="/Assets/images/accountApp.JPG">
    <p id="winForm"><br>
        In my Second Semester Object Oriented programming course I built a GUI for a hypothetical user accounts 
        <br>system using Windows Forms and C#. The user can add accounts to the system, search for accounts, and 
        <br>add or deposit funds from the selected account's balance.
    </p>
</div>