<br><h2 align="center">Stefan Lovecchio</h2>
        <div id="about">
        <br><img src="/Assets/images/profilePic.jpg" alt="Stefan's Picture" height="600">
        <br><br>
        <!--About me description-->
        <p id ="description">
          <br>I have a passion for reading, audio-books, writing and learning.
          <br>I find the creative aspects of development most inspiring. 
          <br>I've been a digital art hobbyist and gaming enthusiast for years, 
          <br>and would like to bring all of these interests together some day. 
          <br>I hope to gain the knowledge to do this and more as I continue down this path.  
        </p>

        <div id="resume">
          <br><br>
          <p>My resume can be downloaded here:</p>
          <br>
          <!--Resume download link-->
          <a href="/Assets/stefanLovecchioResume.pdf" download>
            <button class="btn"><i class="fa fa-download"></i> DOWNLOAD</button>
          </a>
          <br>
          <p>
            <!--website link-->
            <a href="https://www.artstation.com/stefanlovecchio"> My artstation profile can be found here</a>
          </p>
        </div>
        </div>