<div id="contact">
    <!--Contact page form-->
    <form method="get" action="/home"id="contact-form">
        <div id="form1">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter name" name="name">
            <br>
            <label for="email">Email address</label>
            <input type="email" id="email" placeholder="Enter email" name="email">
            <br>
        </div>
        <!--Ask user reason for contacting-->
        <div id="form2">
            <legend>I'm inquiring about...</legend>
            <label class="radio-inline">
                        <input type="radio" name="question" value="hiring" id="hiring">
                        <label for="hiring">Hiring</label><br>
                        <input type="radio" name="question" value="other">
                        <label for="other">Other</label>
                        <br>
                        <!-- dynamically reveal input box for hourly rate if "hiring" is selected -->
                        <div id="box">
                            <label for="hourlyRate" visibility="hidden">Hourly Rate</label>
                            <input type="text" id="hourlyRate" name="hourlyRate" placeholder="Enter hourly rate" display="none"
                                pattern="\d?\d\.\d\d">
                            </div>
                        <p><label for="message">Message</label></p>
                        <textarea id="w3review" name="w3review" rows="5"
                            cols="50">Type message here...</textarea>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</div>