<!--Home page mission statement-->
<br><br><p id="missionStatement">
    Greetings, I'm Stefan Lovecchio, a Software Engineering Technology student at Centennial College.
    <br> I'm hoping to start my career in Software development, and am looking for internship and 
    mentorship opportunities. 
    <br>Welcome to my website!
    <!--Hyperlinks with descriptions-->
    <br><br>
    For personal info: &emsp;&emsp;&emsp;&emsp;&emsp;<a href="/about">About Me</a>
    <br>
    To view my projects: &emsp;&emsp;&emsp;&emsp;<a href="/p;rojects">Projects</a>
    <br>
    For details on my services: &emsp;<a href="/services">Services</a>
    <br>
    To contact me: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/contact">Contact</a>
</p>